<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- Include Head -->
        <%- include('partials/head') %>
        <link rel="stylesheet" href="/stylesheets/formularios.css">
    </head>
<body>
    <!-- Header -->
    <%- include('partials/header') %>
    <!-- /Header -->
    <% if (typeof(mensaje) != "undefined") { %>
		<p style="color: green; font-size: 20px;"><i class="fas fa-check"></i><strong> <%= mensaje %></strong> </p>
		<% } %>
	
		<% if (typeof errors != 'undefined') { %>
			<div  class="alert alert-warning"  role="alert">
		<p style="color:red">Se han encontrado 1 o varios errores:</p>
		<ul  style="list-style: none">
			<% for (var i = 0; i < errors.length; i++){ %>
			<li style="color:red">
				<i class="fas fa-times"></i><strong> <%= errors[i].msg %></strong>
			</li>
			<% } %>
		</ul>
			</div>
		<% } %>
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Estás editando: <%= products.nombre %></h2>
            </div>
        </div>
      
        <div class="col-12">
            <form action="/productos/<%= products.producto_id %>?_method=PUT/editar" method="POST">
                <div class="row product-detail">
                    <div class="col-12 col-md-6">
                        <label for="nombre" class="form-label">Nombre del producto:</label>
                        <input type="text" id="nombre" name="nombre" placeholder="Ej: Zapatillas Reebok" class="form-input" value="<%= products.nombre %>">
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="precio" class="form-label">Precio del producto:</label>
                        <input type="text" id="precio" name="precio" placeholder="Ej: 5678" class="form-input" value="<%= products.precio %>">
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="descuento" class="form-label">Descuento:</label>
                        <input type="text" id="descuento" name="descuento" placeholder="Ej: 15" class="form-input" value="<%= products.descuento %>">
                    </div>

             
						<input type="hidden" id="producto_id" name="producto_id" placeholder="" class="form-input" value="<%= products.producto_id %>">

                    
                    <div class="col-12 col-md-6">
                        <label for="categoria" class="form-label">Categoría:</label>
                        <select name="categoria" id="categoria" class="form-input">
                            <option disabled value="">Elegí</option>
                            <option <% if(products.categoria == "in-sale") { %> selected <% } %> value="in-sale">En oferta</option>
							<option <% if(products.categoria == "visited") { %> selected <% } %> value="visited">Últimos agregados</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-6">
						<label for="seccion" class="form-label">Sección:</label>
						<select name="seccion" id="seccion" class="form-input">
                            <option disabled value="">Elegí</option>
                            <option <% if(products.seccion == "cardio") { %> selected <% } %> value="in-sale">Cardio</option>
							<option <% if(products.seccion == "musculacion") { %> selected <% } %> value="visited">Musculación</option>
                            <option <% if(products.seccion == "accesorios") { %> selected <% } %> value="in-sale">Accesorios</option>
				
						</select>
					</div>
                    <div class="col-12">
                        <label for="descripcion" class="form-label">Descipción:</label>
                        <textarea name="descripcion" id="descripcion" class="form-input"><%= products.descripcion %></textarea>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="buy-now-button">Guardar producto</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /todos los productos -->
    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
</body> 
</html>