<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/homestyle.css">
</head>

<body>
    <%- include('./partials/header') %>

    <main class="container-fluid">
        <div class="banner-home">
            <div class="banner-oferta">
                <img src="/images/Visuales/11.png" width="100%" style="margin-top: 1px;">
            </div>
            <!--Ofertas-->
            <div class="container products-wrapper">
                <div class="row">
                    <% for(let product of products){
                    if(product.categoria == 'in-sale'){%>
                    <div class="productos col-12 col-sm-6 col-lg-4">
                        <section class="products-box">
                            <a href="/productos/detalle/<%= product.producto_id %>">
                                <figure class="products-box-image">
                                    <img src="/images/Productos/<%= product.imagen %>">
                                </figure>
                                <article class="product-box_data">
                                    <h2>$<%= product.precio %></h2>
                                    <% if(product.descuento !== 0){ %>
                                    <span><%= product.descuento %>% OFF</span>
                                    <%}%>
                                <p><%= product.nombre %></p>
                                    <i class="fas fa-cart-arrow-down"></i>
                                </article>
                            </a>
                        </section>
                    </div>
                    <%}
                }%>
                </div>
            </div>
            <div class="banner-home"><img src="/images/Visuales/2.png" width="100%"></div>
            <!--Nuevos productos-->
            <div class="container products-wrapper">
                <div class="row">
                    <% for(let product of products){
                            if(product.categoria == 'new'){%>
                    <div class="productos1 col-12 col-sm-6 col-lg-4">
                        <section class="products-box">
                            <a href="/productos/detalle/<%= product.producto_id %>">
                                <figure class="products-box-image">
                                    <img src="/images/Productos/<%= product.imagen %>">
                                </figure>
                                <article class="product-box_data-new">
                                    <h2>$<%= product.precio %></h2>
                                    <p><%= product.nombre %></p>
                                    <i class="fas fa-cart-arrow-down"></i>
                                </article>
                            </a>
                        </section>
                    </div>
                    <%}
		                }%>
                </div>
            </div>
        </div>
        </div>
    </main>
    <!--Footer-->
    <%- include('./partials/footer') %>
</body>

</html>