<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/registro.css">
</head>

<body class="body">
    <%- include('./partials/header') %>
    <% if (typeof(mensaje) != "undefined") { %>
    <p style="color: green; font-size: 20px;"><i class="fas fa-check"></i><strong> <%= mensaje %></strong> </p>
    <% } %>

    <% if (typeof errors != 'undefined') { %>
        <div  class="alert alert-warning"  role="alert">
    <p style="color:red">Se han encontrado 1 o varios errores:</p>
    <ul  style="list-style: none">
        <% for (var i = 0; i < errors.length; i++){ %>
        <li style="color:red">
            <i class="fas fa-times"></i><strong> <%= errors[i].msg %></strong>
        </li>
        <% } %>
    </ul>
        </div>
    <% } %>

    <div class="container-fluid">
        <div class="banner-registro">
            <img src="/images/Visuales/8.png" width="100%">
        </div>
        <div class="container main">

            <div class="row justify-content-center">
                <div class="registrarse">
                    <h2 class="titulo col-12">Registrarme</h2>
                    <form method="POST" action="/users/registro" id="registerForm">
                        <div class="form-row">
                            <div class="form-group col-12 col-md-6">
                                <label for="inputEmail4">Nombre</label>
                                <input type="text" class="form-control nombre" id="inputEmail4" name="nombre" required>
                                <div class="emptyName logErrors" style="color: red;"></div>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="inputPassword4">Apellido</label>
                                <input type="text" class="form-control apellido" id="inputPassword4" name="apellido" required>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="avatar"><strong>Elige una foto que represente: </strong></label>
                            <p></p>
                            <input type="file" id="avatar" name="avatar" accept=".jpg,.png, .jpeg, .gif">
                            <div class="emptyAvatar logErrors"></div>
                            <div class=" invalidAvatar logErrors"></div>
                        </div>
                        <div class="form-row">

                            <div class="form-group col-12 col-md-6">
                                <label for="inputEmail4">Email</label>
                                <input type="email" class="form-control emailcito" id="inputEmail4" name="email" required>
                                <small>Nadie sabrá tu dirección de email.
                                </small>
                                <div class="invalidRegEmail logErrors"></div>
                                <div class="emptyRegEmail logErrors"></div>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="inputPassword4">Contraseña</label>
                                <input type="password" class="form-control contrasena" id="inputPassword4" name="contrasena"
                                    required>
                                <div class="emptyPassReg logErrors" style="color: red;"></div>
                                <div class="invalidPassReg logErrors" style="color: red;"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Domicilio</label>
                            <input type="text" class="form-control" id="inputAddress" name="domicilio"
                                placeholder="Ejemplo: Aristides 241, Ciudad, Mendoza." required>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12 col-md-5">
                                <label for="inputCity">Ciudad</label>
                                <input type="text" class="form-control" id="inputCity" name="ciudad">
                            </div>
                            <div class="form-group col-12 col-md-4">
                                <label for="inputState">Departamento</label>
                                <select id="inputState" class="form-control" name="departamento" required>
                                    <option selected>Departamento...</option>
                                    <option>Ciudad</option>
                                    <option>Godoy Cruz</option>
                                    <option>Guaymallén</option>
                                    <option>Las Heras</option>
                                    <option>Luján de Cuyo</option>
                                    <option>Maipú</option>
                                </select>
                            </div>
                            <div class="form-group col-6 col-md-3">
                                <label for="inputZip">Código postal</label>
                                <input type="text" class="form-control" id="inputZip" name="cp" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger">Registrarme y comenzar!</button>
                        <p></p>
                        <small>No te arrepentirás </small> <i class="far fa-smile-wink"></i>

                        <p></p>
                        <p></p>
                    </form>


                </div>


            </div>
        </div>

    </div>

    </div>
    <%- include('./partials/footer') %>
    <script src="/js/registroValidator.js"></script>

</body>

</html>